.hangmanGame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputField {
    width: 50px;
}

.gameForm {
    margin-top: 10px;
}

.notification {
    color: red;
}
