.lettersContainer{
    border: 2px solid white;
}

.letters{
    color: white;
    width: 200px;
    text-align: center;
    padding: 10px;
}

.letterBox {
    padding-top: 10px;
    border-top: 1px solid white;
    color: white;
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
}
